version: "3.7"
services: 
  rabbit_mq_server:
    build: ./rabbit/
    stdin_open: true
    tty: true
    container_name: tm_rabbit_mq_server
    networks:
      - text_matcher
    ports:
      - "49153:49153"
      - "49154:49154"
      - "49155:49155"
    restart: on-failure
  
  mongo_db_server:
    image: mongo:4.2.7
    volumes:
      - ./mongo_data:/data/db
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=securePasswd!
    ports:
      - '27017:27017'
    networks:
      - text_matcher
    container_name: tm_mongo_db_server
    restart: on-failure
  
  back_end:
    build: ./back/
    container_name: tm_back_end
    networks:
      - text_matcher
    environment:
      - TEXT_MATCHER_MONGO_ADDR=mongo_db_server
      - TEXT_MATCHER_MONGO_PORT=27017
      - TEXT_MATCHER_MONGO_DB_NAME=text_matcher
      - TEXT_MATCHER_MONGO_USER=admin
      - TEXT_MATCHER_MONGO_PASS=securePasswd!
      - TEXT_MATCHER_RMQ_HOST=rabbit_mq_server
      - TEXT_MATCHER_RMQ_AMQP_PORT=49153
    restart: on-failure

  front_end:
    build: ./front/
    container_name: tm_front_end
    tty: true
    environment:
      - TM_API_PORT=49156
    networks:
      - text_matcher
    ports:
      - '8080:8080'
    restart: on-failure

  api:
    build: ./api/
    container_name: tm_api
    tty: true
    environment:
      - TM_API_PORT=49156
    networks:
      - text_matcher
    ports:
      - '49156:49156'
    restart: on-failure

networks:
  text_matcher:
    driver: bridge
    name: text_matcher
